html {
  --lumo-base-color: #fff;

  --lumo-contrast-5pct: hsla(214, 61%, 25%, 0.05);
  --lumo-contrast-10pct: hsla(214, 57%, 24%, 0.1);
  --lumo-contrast-20pct: hsla(214, 53%, 23%, 0.16);
  --lumo-contrast-30pct: hsla(214, 50%, 22%, 0.26);
  --lumo-contrast-40pct: hsla(214, 47%, 21%, 0.38);
  --lumo-contrast-50pct: hsla(214, 45%, 20%, 0.5);
  --lumo-contrast-60pct: hsla(214, 43%, 19%, 0.61);
  --lumo-contrast-70pct: hsla(214, 42%, 18%, 0.72);
  --lumo-contrast-80pct: hsla(214, 41%, 17%, 0.83);
  --lumo-contrast-90pct: hsla(214, 40%, 16%, 0.94);
  --lumo-contrast: hsl(214, 35%, 15%);

  --lumo-primary-text-color: var(--lumo-primary-color);
  --lumo-primary-color: hsl(214, 90%, 52%);
  --lumo-primary-color-50pct: hsla(214, 90%, 52%, 0.5);
  --lumo-primary-color-10pct: hsla(214, 90%, 52%, 0.1);

  --lumo-error-text-color: hsl(3, 92%, 53%);
  --lumo-error-color: hsl(3, 100%, 61%);
  --lumo-error-color-50pct: hsla(3, 100%, 60%, 0.5);
  --lumo-error-color-10pct: hsla(3, 100%, 60%, 0.1);

  --lumo-success-text-color: hsl(145, 100%, 32%);
  --lumo-success-color: hsl(145, 80%, 42%);
  --lumo-success-color-50pct: hsla(145, 76%, 44%, 0.55);
  --lumo-success-color-10pct: hsla(145, 76%, 44%, 0.12);
}

@media (prefers-color-scheme: dark) {
  html {
    --lumo-base-color: hsl(214, 35%, 21%);

    --lumo-contrast-5pct: hsla(214, 65%, 85%, 0.06);
    --lumo-contrast-10pct: hsla(214, 60%, 80%, 0.14);
    --lumo-contrast-20pct: hsla(214, 64%, 82%, 0.23);
    --lumo-contrast-30pct: hsla(214, 69%, 84%, 0.32);
    --lumo-contrast-40pct: hsla(214, 73%, 86%, 0.41);
    --lumo-contrast-50pct: hsla(214, 78%, 88%, 0.5);
    --lumo-contrast-60pct: hsla(214, 82%, 90%, 0.6);
    --lumo-contrast-70pct: hsla(214, 87%, 92%, 0.7);
    --lumo-contrast-80pct: hsla(214, 91%, 94%, 0.8);
    --lumo-contrast-90pct: hsla(214, 96%, 96%, 0.9);
    --lumo-contrast: hsl(214, 100%, 98%);

    --lumo-primary-text-color: hsl(214, 100%, 70%);
    --lumo-primary-color: hsl(214, 86%, 55%);
    --lumo-primary-color-50pct: hsla(214, 86%, 55%, 0.5);
    --lumo-primary-color-10pct: hsla(214, 90%, 63%, 0.1);

    --lumo-error-text-color: hsl(3, 100%, 67%);
    --lumo-error-color: hsl(3, 90%, 63%);
    --lumo-error-color-50pct: hsla(3, 90%, 63%, 0.5);
    --lumo-error-color-10pct: hsla(3, 90%, 63%, 0.1);

    --lumo-success-text-color: hsl(145, 85%, 47%);
    --lumo-success-color: hsl(145, 65%, 42%);
    --lumo-success-color-50pct: hsla(145, 65%, 42%, 0.5);
    --lumo-success-color-10pct: hsla(145, 65%, 42%, 0.1);
  }
}
