html {
  --gray-hsl: 217, 63%, 10%;
  --gray-50:  hsla(var(--gray-hsl), .03);
  --gray-100: hsla(var(--gray-hsl), .06);
  --gray-200: hsla(var(--gray-hsl), .11);
  --gray-300: hsla(var(--gray-hsl), .19);
  --gray-400: hsla(var(--gray-hsl), .41);
  --gray-500: hsla(var(--gray-hsl), .59);
  --gray-600: hsla(var(--gray-hsl), .72);
  --gray-700: hsla(var(--gray-hsl), .81);
  --gray-800: hsla(var(--gray-hsl), .93);
  --gray-900: hsla(var(--gray-hsl), 1);
}
