/* Hand-picked color palette, which was used to define the computed palette */
html {
  --gray-50:  hsla(216, 8%, 70%, .1);
  --gray-100: hsla(216, 8%, 68%, .2);
  --gray-200: hsla(216, 8%, 66%, .4);
  --gray-300: hsla(216, 8%, 64%, .6);
  --gray-400: hsla(216, 8%, 60%, .8);
  --gray-500: hsla(216, 8%, 53%, .9);
  --gray-600: hsla(216, 8%, 41%, .94);
  --gray-700: hsla(216, 8%, 30%, .97);
  --gray-800: hsla(216, 8%, 20%, .99);
  --gray-900: hsla(216, 8%, 8%, 1);


  --blue-50:  hsla(216, 90%, 70%, .1);
  --blue-100: hsla(216, 90%, 68%, .2);
  --blue-200: hsla(216, 90%, 66%, .4);
  --blue-300: hsla(216, 90%, 64%, .6);
  --blue-400: hsla(216, 90%, 60%, .8);
  --blue-500: hsla(216, 90%, 53%, .9);
  --blue-600: hsla(216, 90%, 42%, .94);
  --blue-700: hsla(216, 90%, 30%, .97);
  --blue-800: hsla(216, 90%, 20%, .99);
  --blue-900: hsla(216, 90%, 8%, 1);

  --red-50:  hsla(0, 90%, 70%, .1);
  --red-100: hsla(0, 90%, 68%, .2);
  --red-200: hsla(0, 90%, 66%, .4);
  --red-300: hsla(0, 90%, 64%, .6);
  --red-400: hsla(0, 90%, 60%, .8);
  --red-500: hsla(0, 90%, 53%, .9);
  --red-600: hsla(0, 90%, 42%, .94);
  --red-700: hsla(0, 90%, 30%, .97);
  --red-800: hsla(0, 90%, 20%, .99);
  --red-900: hsla(0, 90%, 8%, 1);
}
