html {
  --font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-size: 1rem;

  --space: 1rem;
  --space-0: 0px;
  --space-1: 1px;
  --space-2: calc(var(--space) * 0.125);
  --space-3: calc(var(--space) * 0.25);
  --space-4: calc(var(--space) * 0.375);
  --space-5: calc(var(--space) * 0.5);
  --space-6: calc(var(--space) * 0.625);
  --space-7: calc(var(--space) * 0.75);
  --space-8: calc(var(--space) * 0.875);
  --space-9: calc(var(--space) * 1);
  --space-10: calc(var(--space) * 1.25);
  --space-11: calc(var(--space) * 1.5);
  --space-12: calc(var(--space) * 1.75);
  --space-13: calc(var(--space) * 2);
  --space-14: calc(var(--space) * 2.25);
  --space-15: calc(var(--space) * 2.5);
  --space-16: calc(var(--space) * 2.75);
  --space-17: calc(var(--space) * 3);
  --space-18: calc(var(--space) * 3.5);
  --space-19: calc(var(--space) * 4);
  --space-20: calc(var(--space) * 5);
  --space-21: calc(var(--space) * 6);

  --border-radius: 1rem;
  --border-radius-s: calc(var(--border-radius) * 0.25);
  --border-radius-m: calc(var(--border-radius) * 0.375);
  --border-radius-l: calc(var(--border-radius) * 0.5);
  --border-radius-xl: calc(var(--border-radius) * 0.75);
  --border-radius-2xl: calc(var(--border-radius) * 1);

  --box-shadow-intensity: 0.2;
  --box-shadow-xl: 0 16px 48px -8px hsla(var(--black-hsl), calc(var(--box-shadow-intensity) * 1));
}

[theme~="light"],
[theme~="dark"] {
  --gray-hsl: 217, 63%, 10%;
  --gray-0: #fff;
  --gray-50: hsla(var(--gray-hsl), 0.03);
  --gray-100: hsla(var(--gray-hsl), 0.06);
  --gray-200: hsla(var(--gray-hsl), 0.11);
  --gray-300: hsla(var(--gray-hsl), 0.19);
  --gray-400: hsla(var(--gray-hsl), 0.41);
  --gray-500: hsla(var(--gray-hsl), 0.59);
  --gray-600: hsla(var(--gray-hsl), 0.72);
  --gray-700: hsla(var(--gray-hsl), 0.81);
  --gray-800: hsla(var(--gray-hsl), 0.93);
  --gray-900: hsla(var(--gray-hsl), 1);

  --black-hsl: 217, 30%, 8%;

  --color: var(--gray-700);
  --color-heading: var(--gray-900);
  --color-secondary: var(--gray-500);
  --color-divider: var(--gray-300);
  --background: var(--gray-0) linear-gradient(var(--gray-50), var(--gray-50));
  --background-surface: var(--gray-0);
  --background-color-button: var(--gray-50);
  --background-color-input: var(--background-color-surface);

  color: var(--color);
  background: var(--background);
}

[theme~="dark"] {
  --gray-hsl: 217, 100%, 98%;
  --gray-0: hsl(217, 63%, 5%);
  --gray-50: hsla(var(--gray-hsl), 0.05);
  --gray-100: hsla(var(--gray-hsl), 0.11);
  --gray-200: hsla(var(--gray-hsl), 0.18);
  --gray-300: hsla(var(--gray-hsl), 0.23);
  --gray-400: hsla(var(--gray-hsl), 0.41);
  --gray-500: hsla(var(--gray-hsl), 0.59);
  --gray-600: hsla(var(--gray-hsl), 0.72);
  --gray-700: hsla(var(--gray-hsl), 0.81);
  --gray-800: hsla(var(--gray-hsl), 0.93);
  --gray-900: hsla(var(--gray-hsl), 1);

  --background: var(--gray-0);
  --background-surface: var(--gray-0) linear-gradient(var(--gray-50), var(--gray-50));

  --shadow-intensity: 1;
}
